.Intro {
  margin: auto;
  text-align: center;
  flex-grow: 1;
  display: flex;
  align-items: center;
}

.Intro h1 {
  font-size: 20vw;
  line-height: 20vw;
  font-weight: 900;
  text-transform: uppercase;
  display: block;
  text-shadow: 0 10px 0 #9a8c98;
  margin-bottom: 2vw;
}

.Intro h1:hover {
  animation: shake 0.82s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
  perspective: 1000px;
}

.Intro h2 {
  font-size: 3.5vw;
  line-height: 3.5vw;
  font-weight: 100;
  text-align: center;
}

.Intro h2 strong {
  font-weight: 100;
}

@media (max-width: 420px) {
  .Intro h1 {
    font-size: 28vw;
    line-height: 28vw;
    margin-bottom: 8vw;
  }
  .Intro h2 {
    font-size: 6vw;
    line-height: 7vw;
  }
}

@keyframes shake {
  10%,
  90% {
    transform: translate3d(-1px, 0, 0);
  }

  20%,
  80% {
    transform: translate3d(2px, 0, 0);
  }

  30%,
  50%,
  70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%,
  60% {
    transform: translate3d(4px, 0, 0);
  }
}
